.header {
  color: var(--accent-color);
  display: flex;
  padding-top: 1rem;
}

.navigation {
  display: flex;
  gap: 1.2rem;
  margin-left: auto;
  font-size: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 700;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 3.5rem;
}

.item {
  transition: color 0.4s;
}

.item:hover {
  color: var(--button-background-color);
}
